In [64]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pylab
import copy
from scipy import integrate
from decimal import Decimal, ROUND_HALF_UP

In [65]:
df=pd.read_csv("../data/data02_01.csv", encoding="SHIFT_JIS", header=None, names=['seq', 'length', 'weight'])
df

    seq  length  weight
0     1     168      60
1     2     162      55
2     3     171      65
3     4     159      60
4     5     174      72
5     6     166      57
6     7     175      61
7     8     176      66
8     9     168      56
9    10     182      69
10   11     179      62

In [69]:
tmp_1 = 0.0
tmp_2 = 0.0
tmp_3 = 0.0
tmp_4 = 0.0
s1 = 0.0

for index, row in df.iterrows():
    tmp_1 += (row[1] * 0.01) * row[2]
    tmp_2 += pow((row[1] * 0.01), 2)
    tmp_3 += (row[1] * 0.01)
    tmp_4 += row[2]

s1 = round(tmp_1/11 * 10000, 0)
s2 = round(tmp_2/11 * 10000, 0)
avg_x = round(tmp_3/11 * 10000, 0)
avg_y = round(tmp_4/11 * 10000, 0)

a = ((s1 - (avg_x * avg_y))/(s2 - pow(avg_x, 2)))
b = (((avg_y * s2) - (avg_x * s1))/(s2 - pow(avg_x, 2)))
print(s1)
print(s2)
print(avg_x)
print(avg_y)
print(a)
print(b)

1063545.0
29256.0
17091.0
620909.0
36.329586321776894